.details-page-container {
    display: flex;
    gap: 4em;
    min-height: 100vh;
    /* padding: 10px 75px; */
    padding: 3em;
}

.details-page-container div:first-child {
    width: 45%;
}

.details-page-container img {
    width: 100%;
}

.details-page-container div:last-child {
    width: 55%;
}

.details-page-container h1 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
}

.details-page-container p {
    font-weight: 300;
    font-size: 1.2em;
    padding-top: .5em;
}