.page-not-found {
    height: 100vh;
    text-align: center;
    padding-top: 100px;
    padding-right: 950px;
    background-image: url('../images/404-bg-img.jpeg');
    background-size: cover;
}

.page-not-found h1 {
    font-weight: 100;
    font-size: 7em;
    color: white;
}

.page-not-found p {
    font-weight: 200;
    font-size: 1.5em;
    color: white;
    margin-top: 15px;
}

.page-not-found button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    color: white;
    margin-top: 15px;
    padding: 7.5px 15px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(57, 92, 207);
}